.send-to-bidmotors-btn {
  background-color: #4CAF50;
  border: none;
  color: white !important;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.auto1-button {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
}

.troostwijkauctions-button {
  height: 55px;
  width: 120px;
}

.dropdown {
  display: flex;
}

.p-align-start {
  align-items: center;
}

.send-to-bidmotors-btn:hover {
  background-color: #45a049;
}

.notification-banner-bidmotors {
  display: none;
  position: fixed;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 1000;
  font-size: 16px;
}
